body {
  margin: 0;
}

.scrubbable-grid {
  position: relative;
}

.section {
  position: absolute;
  contain: layout;
  background-color: blueviolet;
}

.segment {
  position: absolute;
  contain: layout;
  background-color: blue;
}

.tile {
  position: absolute;
  background-color: yellow;
}